.work {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #E6E9DE;
}

.work>.section_title {
  background: #242226;
}

.work>.section_title>h2 {
  color: #E6E9DE;
}

.work_wrap {
  position: absolute;
  top: 250px;
  width: 100%;
  height: calc(100% - 250px);
  overflow: hidden;
}

.work_controller {
  position: absolute;
  top: 5%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 100px;
  z-index: 5;
}

.prev_btn,
.next_btn {
  position: absolute;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  border: 10px solid #242226;
  border-right: none;
  border-bottom: none;
  box-sizing: border-box;

  cursor: pointer;
}

.prev_btn {
  left: 30px;
  transform: translateY(-50%) rotate(-45deg);
  animation: prev 1s linear 0s infinite;
}

@keyframes prev {
  0% {
    transform: translateX(0%) translateY(-50%) rotate(-45deg);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    opacity: 0;
  }
}

.next_btn {
  right: 30px;
  transform: translateY(-50%) rotate(135deg);
  animation: next 1s linear 0s infinite;
}

@keyframes next {
  0% {
    transform: translateX(0%) translateY(-50%) rotate(135deg);
    opacity: 1;
  }

  100% {
    transform: translateX(50%) translateY(-50%) rotate(135deg);
    opacity: 0;
  }
}

.work_contents {
  position: relative;
  display: flex;
  left: 0;
  top: 0;
  transition: left 0.5s ease 0s;
  flex-direction: row;
  width: 500%;
  height: 100%;
}

.work_content {
  display: flex;
  width: 20%;
  height: 100%;
  transition: opacity 1s linear 0s;
}

.work_preview,
.work_description {
  width: 50%;
  height: 100%;
}

.work_preview {
  position: relative;
}

.mockup {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 50%;
  perspective: 1000px;
}

.mockup>ul {
  position: absolute;
  bottom: -100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  gap: 20px;
}

.mockup>ul>li {
  width: 30%;
  height: 100%;
  background: transparent;
  color: #242226;
  border: 3px solid #242226;
  font-weight: 600;
  box-sizing: border-box;
  border-radius: 20px;
  text-align: center;
  line-height: 50px;

}

.mockup>ul>li:nth-child(2) {
  cursor: pointer;
}

.mockup>ul>li:nth-child(2):hover {
  border: none;
  background: #242226;
  color: #E6E9DE;
}

.mockup_app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 100%;
}

.pc_mockup {
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 888px;
  height: 423px;
  transform: translateX(-50%);
  background-image: url(../../public/images/pc.png);
  background-size: cover;
  overflow: hidden;
}

.pc_screen {
  position: absolute;
  left: 51%;
  top: 47%;
  transform: translate(-50%, -50%);
  width: 78%;
  height: 82%;
  overflow: hidden;
}

.pc_screen>video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tablet_mockup {
  position: absolute;
  bottom: 0%;
  left: 19%;
  width: 300px;
  height: 362px;
  transform: translateX(-50%);
  background-image: url(../../public/images/tablet.png);
  background-size: cover;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.tablet_mockup_m {
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 80%;
  height: 100%;
  border-radius: 20px;
  border: 10px solid #000;
  box-sizing: border-box;
  transform: translateX(-50%);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.tablet_screen {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
  height: 290px;
  overflow: hidden;
}

.tablet_mockup_m>.tablet_screen {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: white;
  overflow: hidden;
}

.tablet_screen>video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tablet_mockup_m>.tablet_screen>video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.phone_mockup {
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 130px;
  height: 263px;
  transform: translateX(-50%) rotateY(-30deg) rotateX(10deg);
  background-image: url(../../public/images/phone.png);
  background-size: cover;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.phone_mockup_m {
  position: absolute;
  bottom: 0%;
  right: -5%;
  width: 20%;
  height: 70%;
  border-radius: 20px;
  border: 10px solid #000;
  box-sizing: border-box;
  transform: translateX(-50%);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.phone_screen {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 115px;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
}

.phone_mockup_m>.phone_screen {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: white;
  overflow: hidden;
}

.phone_screen>video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #E6E9DE;
}

.description_space {
  width: 80%;
  height: 80%;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 30px;
  background: #242226;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.description_space>h3 {
  font-size: 2.5rem;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  margin-bottom: 20px;
}

.description_space>ul {
  margin-bottom: 40px;
}

.description_space>ul>li {
  display: inline-block;
  height: 40px;
  border-radius: 10px;
  margin-right: 15px;
  padding: 0 20px;
  background: #ff7f50;
  line-height: 40px;
  color: #242226;
  font-size: 1.5rem;
  text-align: center;

}

.description_space>dl>dt {
  font-size: 2.25rem;
  margin-bottom: 20px;
}

.description_space>dl>dd.spa {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: AppleSDGothicNeoUL;
}

.description_space>dl>dd>dl {
  margin-bottom: 30px;
}

.description_space>dl>dd>dl>dt {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.description_space>dl>dd {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.description_space>dl>dd>dl>dd {
  position: relative;
  list-style: disc;
  margin-bottom: 15px;
  padding-left: 20px;
  font-size: 1.25rem;
  font-family: AppleSDGothicNeoUL;
}

.description_space>dl>dd>dl>dd>svg {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  width: 0.4em;
  height: 0.4em;
  line-height: 40px;
  margin-right: 10px;
}

.work_description>ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.work_description>ul>li {}

.work_description>ul>li>a {
  display: block;
  width: 100%;
  height: 100%;
}

.work_description>ul>li>a>svg {
  width: 3rem;
  height: 3rem;
  color: #ff7f50;
}

/* 
.cj {
  border: 1px solid orangered;
}

.samsung_electric {
  border: 1px solid firebrick;
}

.samsung_engineering {
  border: 1px solid dodgerblue;
}

.messanger {
  border: 1px solid goldenrod;
}

.netflix {
  border: 1px solid purple;
}
*/